.listContainer{
  min-width: 280px;
  max-width: 280px;
  border-right: 1px solid black;
  position: relative;
  overflow-y: scroll;
  padding-left: 5px;
  
}
.listContainer::-webkit-scrollbar { 
  display: none; 
}