.itemContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.itemImage{
  width: 80px;
  height: 80px;
}

.displayName{
  line-height: 80px;
  font-size: 16px;
  flex-grow: 1;
  cursor: default;
}

.listItemImg{
  width: 80%;
  height: 80%;
  border-radius: 32px;
  border: 1px solid black;
  margin-top: 8px;
  margin-bottom: 8px;
}

.active{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: chartreuse;
  margin-right: 5px;
}