.messageContent{
  display: block;
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 92%;
  position: relative;
}

.messageContent::after{
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 10px;
  margin-left: -10px;
}

.myMessage{
  margin-right: 15px;
  background-color: #86BB71;
}

.myMessage::after{
  left: 93%;
  border-bottom-color:#86BB71;
}

.ortherMessage{
  margin-left: 15px;
  background-color: #94C2ED;
}

.ortherMessage::after{
  
  border-bottom-color:#94C2ED;
}

.message-data{
  margin-bottom: 15px;
}


.align-right{
  text-align: right;
}

.float-right {
  float: right;
}



.message-data.align-left .message-data-name{
  padding-left: 20px;
}

.message-data.align-right .message-data-name{
  padding-right: 20px;
  padding-left: 6px;
}

.message-data-time{
  padding-left: 6px;
}
